<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>vendorCustomer</title>
</head>
<body>
    <div class='center'>
        <ul style="color: #360bf6">
            <li><Button>@Html.ActionLink("Customer", "CustomerLogin", "Account")</Button></li><br /><p></p>
            <li><Button>Vendor</Button></li>
        </ul>
    </div>
</body>
</html>